<div style="background:red"><b><%= answeredquestion.title%></b>
	<ul>
		<% answeredquestion.choices.each do |c| %>
			<li>
				<%= c.to_s %><%= answeredquestion.answers.where(choice_id: c.id).count %>
			</li>
		<% end %>
	</ul>
</div>
