<% question=mail  %>
<div class="contentbox">
			<b><%= question.title%></b> <%=question.text%></div>
<% question.choices.each do |c| %>
	<li><%= render partial:"survey/choices/mail",object: c %></li>
<% end %>
			
