<% if current_user.nil? %>
	<%= render partial: "answeredquestion", object: question %> 
<% else  %>
	<div style="background:red"><b><%= question.title%></b>
		<ul>
			<% question.choices.each do |c| %>
				<li><%= render c %></li>
			<% end %>
		</ul>
	</div>
<% end %>
