@font-face {
	font-family: "ffi2";
	src: url("/assets/flatfeticon2.eot");
	src: url("/assets/flatfeticon2.eot#iefix") format("embedded-opentype"),
	url("/assets/flatfeticon2.woff") format("woff"),
	url("/assets/flatfeticon2.ttf") format("truetype"),
	url("/assets/flatfeticon2.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="ffi2-"]:before, [class*=" ffi2-"]:before,
[class^="ffi2-"]:after, [class*=" ffi2-"]:after {   
	font-family: ffi2;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.ffi2-accident3:before {
	content: "\e000";
}
.ffi2-alphabet3:before {
	content: "\e001";
}
.ffi2-angel:before {
	content: "\e002";
}
.ffi2-angry:before {
	content: "\e003";
}
.ffi2-angry2:before {
	content: "\e004";
}
.ffi2-angry23:before {
	content: "\e005";
}
.ffi2-angry40:before {
	content: "\e006";
}
.ffi2-angry41:before {
	content: "\e007";
}
.ffi2-animal203:before {
	content: "\e008";
}
.ffi2-annulled3:before {
	content: "\e009";
}
.ffi2-bandaid:before {
	content: "\e00a";
}
.ffi2-battery88:before {
	content: "\e00b";
}
.ffi2-book97:before {
	content: "\e00c";
}
.ffi2-boy11:before {
	content: "\e00d";
}
.ffi2-boy12:before {
	content: "\e00e";
}
.ffi2-business57:before {
	content: "\e00f";
}
.ffi2-camouflage:before {
	content: "\e010";
}
.ffi2-car65:before {
	content: "\e011";
}
.ffi2-certificate7:before {
	content: "\e012";
}
.ffi2-checklist4:before {
	content: "\e013";
}
.ffi2-circuit4:before {
	content: "\e014";
}
.ffi2-confused4:before {
	content: "\e015";
}
.ffi2-cpu:before {
	content: "\e016";
}
.ffi2-cpu1:before {
	content: "\e017";
}
.ffi2-cry1:before {
	content: "\e018";
}
.ffi2-cry2:before {
	content: "\e019";
}
.ffi2-crying7:before {
	content: "\e01a";
}
.ffi2-customerservice10:before {
	content: "\e01b";
}
.ffi2-doubt3:before {
	content: "\e01c";
}
.ffi2-doubts1:before {
	content: "\e01d";
}
.ffi2-drinks48:before {
	content: "\e01e";
}
.ffi2-education6:before {
	content: "\e01f";
}
.ffi2-election3:before {
	content: "\e020";
}
.ffi2-electronic51:before {
	content: "\e021";
}
.ffi2-emoticon101:before {
	content: "\e022";
}
.ffi2-emoticon82:before {
	content: "\e023";
}
.ffi2-emoticon83:before {
	content: "\e024";
}
.ffi2-emoticon98:before {
	content: "\e025";
}
.ffi2-emoticons11:before {
	content: "\e026";
}
.ffi2-family4:before {
	content: "\e027";
}
.ffi2-fear3:before {
	content: "\e028";
}
.ffi2-first21:before {
	content: "\e029";
}
.ffi2-fright:before {
	content: "\e02a";
}
.ffi2-furious3:before {
	content: "\e02b";
}
.ffi2-graduate2:before {
	content: "\e02c";
}
.ffi2-group58:before {
	content: "\e02d";
}
.ffi2-handshake3:before {
	content: "\e02e";
}
.ffi2-hatchback:before {
	content: "\e02f";
}
.ffi2-help9:before {
	content: "\e030";
}
.ffi2-house77:before {
	content: "\e031";
}
.ffi2-illness1:before {
	content: "\e032";
}
.ffi2-inadequacy:before {
	content: "\e033";
}
.ffi2-incompetence:before {
	content: "\e034";
}
.ffi2-indifferent:before {
	content: "\e035";
}
.ffi2-kiss3:before {
	content: "\e036";
}
.ffi2-laughing7:before {
	content: "\e037";
}
.ffi2-laughing8:before {
	content: "\e038";
}
.ffi2-lifesaver28:before {
	content: "\e039";
}
.ffi2-lively:before {
	content: "\e03a";
}
.ffi2-love2:before {
	content: "\e03b";
}
.ffi2-mad1:before {
	content: "\e03c";
}
.ffi2-man282:before {
	content: "\e03d";
}
.ffi2-manager3:before {
	content: "\e03e";
}
.ffi2-medical43:before {
	content: "\e03f";
}
.ffi2-mobile26:before {
	content: "\e040";
}
.ffi2-moustaches1:before {
	content: "\e041";
}
.ffi2-mute24:before {
	content: "\e042";
}
.ffi2-mute3:before {
	content: "\e043";
}
.ffi2-navigation28:before {
	content: "\e044";
}
.ffi2-nerd6:before {
	content: "\e045";
}
.ffi2-nervous:before {
	content: "\e046";
}
.ffi2-owl9:before {
	content: "\e047";
}
.ffi2-palmtrees1:before {
	content: "\e048";
}
.ffi2-panic1:before {
	content: "\e049";
}
.ffi2-pencil32:before {
	content: "\e04a";
}
.ffi2-pirate5:before {
	content: "\e04b";
}
.ffi2-plus13:before {
	content: "\e04c";
}
.ffi2-protection24:before {
	content: "\e04d";
}
.ffi2-robot30:before {
	content: "\e04e";
}
.ffi2-robotic2:before {
	content: "\e04f";
}
.ffi2-rough:before {
	content: "\e050";
}
.ffi2-sad34:before {
	content: "\e051";
}
.ffi2-sad35:before {
	content: "\e052";
}
.ffi2-sad37:before {
	content: "\e053";
}
.ffi2-sad38:before {
	content: "\e054";
}
.ffi2-sad39:before {
	content: "\e055";
}
.ffi2-sad74:before {
	content: "\e056";
}
.ffi2-sad75:before {
	content: "\e057";
}
.ffi2-sad77:before {
	content: "\e058";
}
.ffi2-scary:before {
	content: "\e059";
}
.ffi2-serious3:before {
	content: "\e05a";
}
.ffi2-severe:before {
	content: "\e05b";
}
.ffi2-silhouette121:before {
	content: "\e05c";
}
.ffi2-singing4:before {
	content: "\e05d";
}
.ffi2-sleep1:before {
	content: "\e05e";
}
.ffi2-sleepness:before {
	content: "\e05f";
}
.ffi2-sleepy6:before {
	content: "\e060";
}
.ffi2-smile31:before {
	content: "\e061";
}
.ffi2-smile32:before {
	content: "\e062";
}
.ffi2-smile33:before {
	content: "\e063";
}
.ffi2-smiley41:before {
	content: "\e064";
}
.ffi2-smiley42:before {
	content: "\e065";
}
.ffi2-smiling35:before {
	content: "\e066";
}
.ffi2-smiling36:before {
	content: "\e067";
}
.ffi2-solar12:before {
	content: "\e068";
}
.ffi2-spring13:before {
	content: "\e069";
}
.ffi2-square103:before {
	content: "\e06a";
}
.ffi2-stars53:before {
	content: "\e06b";
}
.ffi2-student12:before {
	content: "\e06c";
}
.ffi2-study7:before {
	content: "\e06d";
}
.ffi2-stupor:before {
	content: "\e06e";
}
.ffi2-surprise5:before {
	content: "\e06f";
}
.ffi2-surprised:before {
	content: "\e070";
}
.ffi2-surprised19:before {
	content: "\e071";
}
.ffi2-surprised21:before {
	content: "\e072";
}
.ffi2-surveillance1:before {
	content: "\e073";
}
.ffi2-suspicions:before {
	content: "\e074";
}
.ffi2-sweat1:before {
	content: "\e075";
}
.ffi2-sweating3:before {
	content: "\e076";
}
.ffi2-tears:before {
	content: "\e077";
}
.ffi2-telephone45:before {
	content: "\e078";
}
.ffi2-think7:before {
	content: "\e079";
}
.ffi2-timidity:before {
	content: "\e07a";
}
.ffi2-tongue1:before {
	content: "\e07b";
}
.ffi2-tongue2:before {
	content: "\e07c";
}
.ffi2-two128:before {
	content: "\e07d";
}
.ffi2-two210:before {
	content: "\e07e";
}
.ffi2-users53:before {
	content: "\e07f";
}
.ffi2-very7:before {
	content: "\e080";
}
.ffi2-wink:before {
	content: "\e081";
}
.ffi2-wink9:before {
	content: "\e082";
}
.ffi2-winking9:before {
	content: "\e083";
}
.ffi2-winners1:before {
	content: "\e084";
}
